@model Stardust.Models.EmpleadoBean

@{
    ViewBag.Title = "Empleados";
}

<h2>Empleados</h2>

<p>
    Bienvenido a administrar empleados.
</p>

<p>
    @Html.ActionLink("Registrar empleado", "Create")
</p>

<p>
    @Html.ActionLink("Listar empleados", "List")
</p>