@model Stardust.Models.HorarioDetalle

@{
    ViewBag.Title = "Horario Detalle";
}

<h2>Horario</h2>

<p>
    Detalle del horario 
</p>
  
<p>
  <a href="@Url.Action("Creardetalle", new { id = ViewBag.codigo })"><img src="../../Content/images/icons/color/pencil.png", alt="Edit" />Añadir Detalle horario</a>
</p>
         
<p>
    <a href="@Url.Action("ListDetalle", new { idhorario = ViewBag.codigo })"><img src="../../Content/images/icons/color/pencil.png", alt="Edit" />Mostrar Detalles Asignados</a>
</p>
<p></p><p></p><p></p><p></p>

<a href="@Url.Action("ListHorario", new { id = ViewBag.idempleado })"><img src="../../Content/images/icons/dark/pin.png", alt="Create" />Regresar</a>