@{
    ViewBag.Title = "Finalizar Ambiente";
}

<h2>Finalizar Ambiente</h2>

<script type="text/javascript" src="/Scripts/Validaciones.js"></script>
<script type="text/javascript" src="/Scripts/CheckOutAmbiente.js"></script>

<html lang="es">

    <head>
        <title>Finalizar Ambiente</title>

        <style type="text/css">

        </style>

    </head>

    <body>

    <div id = "consulta">

        <div class = "widget" >

            <div class="title"><img src="../../Content/images/icons/dark/frames.png" alt="" class="titleIcon" />
                <h6>Finalizar Ambiente</h6>
            </div>

            <div class="formRow"><span>Id. de la Reserva</span>                
				<div class = "formRight" > 					
					<input type="text" id="idReserva"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id = "gogo" type="submit" value="Iniciar" class = "redB" />					
				</div>                
				<div class="clear"></div>
			</div>

        </div>
    </div>
    
    





    <div id="dialog-modal" title="Datos incorrectos">
	    <p>Por favor, ingrese datos correctos</p>
    </div>
    <div id="espera" title="...zzZZzz...">
	    <p>...wait pls...</p>
    </div>
    <div id="faltanDatos" title="Faltan Datos">
	    <p>Verifique que estén llenos todos los campos solicitados</p>
    </div>
    <div id="error" title="">
	    <p id = "msjError">...Ooops!</p>
    </div>

    </body>

</html>