@model IEnumerable<Stardust.Models.TipoHabitacionBean>

@{
    ViewBag.Title = "Tipos de habitación";
}

<h2>Tipo de Habitación</h2>

<p>
    Bienvenido a administrar tipos de habitación.
</p>

<p>
    @Html.ActionLink("Registrar tipo de habitación", "Create")
</p>

<p>
    @Html.ActionLink("Listar tipos de habitación", "List")
</p>