@model Stardust.Models.PerfilUsuarioBean

@{
    ViewBag.Title = "Perfiles";
}

<h2>Perfiles</h2>

<p>
    Bienvenido a administrar perfiles de usuario.
</p>

<p>
    @Html.ActionLink("Registrar perfil", "Create")
</p>

<p>
    @Html.ActionLink("Listar perfiles", "List")
</p>