@model Stardust.Models.ClienteBean

@{
    ViewBag.Title = "Registrar Persona Natural";
}

<h2>Registrar Persona Natural</h2>

<p>
    Llene el siguiente formulario para la creación de un nuevo Cliente Natural
</p>

@using (Html.BeginForm())

{

    <fieldset>
        <div class="widget">

            <div class="title">
                <h6>Registrar Persona Natural</h6>
            </div>

            <div class="formRow"><span>Nombre</span>                
               <div class = "formRight" > 
               @Html.TextBoxFor(m => m.nombres)
               </div>                
               <div class="clear"></div>
            </div>

            <div class="formRow"><span>Apellido Paterno</span>                
               <div class = "formRight" > 
               @Html.TextBoxFor(m => m.apPat)
               </div>                
               <div class="clear"></div>
            </div>

            <div class="formRow"><span>Apellido Materno</span>                
               <div class = "formRight" > 
               @Html.TextBoxFor(m => m.apMat)
               </div>                
               <div class="clear"></div>
            </div>
            
            <div class="formRow"><span>Nro. de documento</span>
                <div class="formRight">
                @Html.TextBoxFor(m => m.nroDocumento) 
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </fieldset>

    <p>
        <input type="submit" value="Crear" class = "redB" />
    </p>
}


