@{
    ViewBag.Title = "Reservar habitacion";
}

<h2>Reservar habitación</h2>


<html lang="es">

<head>
<title>Reservar Habitacion</title>
	<script type="text/javascript" src="/Scripts/jquery-1.5.1.js"></script>
	<script type="text/javascript" src="/Scripts/ReservarHabitacion.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <style>
        #box-table-a
        {
	        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	        font-size: 12px;
	        margin: 45px;
	        width: 480px;
	        text-align: left;
	        border-collapse: collapse;
        }
        #box-table-a th
        {
	        font-size: 13px;
	        font-weight: normal;
	        padding: 8px;
	        background: #b9c9fe;
	        border-top: 4px solid #aabcfe;
	        border-bottom: 1px solid #fff;
	        color: #039;
        }
        #box-table-a td
        {
	        padding: 8px;
	        background: #e8edff; 
	        border-bottom: 1px solid #fff;
	        color: #669;
	        border-top: 1px solid transparent;
	        text-align:center;
        }
        #box-table-a tr:hover td
        {
	        background: #d0dafd;
	        color: #339;
        }
        #Total
        {
            text-align:center;
        }
        #TotalLabel
        {
            text-align:right;
        }
    </style>
</head>

<body>

	<fieldset>
		<div class="widget">
			<div class="title">
				<h6>Registrar Servicio</h6>
			</div>

			<div class="formRow"><span>Fecha de llegada</span>                
				<div class = "formRight" >                                         
					<div class="demo">
						<input type="text" id="FechaLlegada">
					</div>
				</div>                
				<div class="clear"></div>
			</div>

			<div class="formRow"><span>Fecha de salida</span>                
				<div class = "formRight" > 
					<div class="demo">
						<input type="text" id="FechaSalida">
					</div>
				</div>                
				<div class="clear"></div>
			</div>
		<!--/div>
	</fieldset-->
			<div class = "widgetxD" >
				<div class="title"><!--img src="../../Content/images/icons/dark/frames.png" alt="" class="titleIcon" /--><h6>Tipos de habitacion del hotel</h6></div>
				<table cellpadding = "0" cellspacing = "0" width = "90%" id = "box-table-a" >
					<thead>
						<tr>
							<th>Tipo de habitación</th>
							<th>Cantidad Habitaciones</th>
							<th>Precio($)</th>
						</tr>
					</thead>
                    
                    <tfoot>
                        <tr>
                            <th></th>
                            <th id="TotalLabel">Total</th>
                            <th id="Total">0</th>
                        </tr>
                    </tfoot>

		    		<tbody  id = "tablaTipos">
					</tbody>
				</table>
			</div>			
		
             <div class="widget">
			    <div class="title">
				    <h6>Servicio de Recepcion al aeropueto</h6>
			    </div>


                <div class="formRow"><span>Desea contar con el servicio?</span>
				    <div class = "formRight" > 
					    <div class="demo">
						    <input type="checkbox" id="checkAerop" value="one" /><br />                            
					    </div>
				    </div>				    
			    </div>

                <div id="fieldAeropuerto">
			        <div class="formRow">
				        <span>Hora de llegada</span>                
				        <div class = "formRight" >                                         
					        <input type="text" value="" id = "HoraLlegada"/> 
				        </div>                
				        <div class="clear"></div>
			        </div>

			        <div class="formRow">
				        <span>Aerolinea</span>
				        <div class = "formRight" >
					        <input type="text" value="" id="Aerolinea" />
				        </div>
				        <div class="clear"></div>
			        </div>

			        <div class="formRow"><span>Nro. Vuelo</span>                
				        <div class = "formRight" > 
					        <input type="text" value="" id="NVuelo" /> 
				        </div>                
				        <div class="clear"></div>
			        </div>  
			
			        <div class="formRow">
				        <span>Cantidad de Personas</span>
				        <div class = "formRight" > 
					        <input type="text" value="" id="CantPersonas" /> 
				        </div>                
				        <div class="clear"></div>
			        </div>  
                </div>

		    </div>	        
        </div>
	</fieldset>


	<!--p>
		<input type="submit" value="Recojo de aeropuerto" class = "redB" id = "registrarAeropuerto"/>
    </p-->

	

	<p>
		<input type="submit" value="Reservar" class = "redB" />
    </p>

</html>
