@{
    ViewBag.Title = "Check Out";
}

<h2>Check Out</h2>

<script type="text/javascript" src="/Scripts/checkOut.js"></script>
<script type="text/javascript" src="/Scripts/Validaciones.js"></script>

<html lang="es">

    <head>

        <title>Check Out</title>


        <style type="text/css">
        
        
        
        </style>

    </head>


    <body>

    <div id ="busquedaDNI">


        <div class="widget">
			<div class="title">
				<h6>Buscar Reserva</h6>
			</div>

			<div class="formRow"><span>Nro. de reserva</span>                
				<div class = "formRight" > 
					<input type="text" id="nroReserva"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id = "buscarDoc" type="submit" value="Buscar" class = "redB" />
				</div>                
				<div class="clear"></div>
			</div>
        </div>
    
    </div>

    <div id = "datosCliente">
    
    
    
    </div>

    <div id = "detalleGastos">
    
    
    
    </div>

    <div id = "pago">
    
    </div>



    <div id="dialog-modal" title="Datos incorrectos">
	    <p>Por favor, ingrese datos correctos</p>
    </div>
    <div id="espera" title="...zzZZzz...">
	    <p>...wait pls...</p>
    </div>
    <div id="faltanDatos" title="Faltan Datos">
	    <p>Verifique que estén llenos todos los campos solicitados</p>
    </div>
    <div id="error" title="">
	    <p id = "msjError">...Ooops!</p>
    </div>



    
    
    </body>

</html>

