@{
    ViewBag.Title = "Reporte de Habitaciones";
}

<h2>Reporte de Habitaciones</h2>

<script type="text/javascript" src="/Scripts/ReporteHabitaciones.js"></script>
<script type="text/javascript" src="/Scripts/Validaciones.js"></script>
<script type="text/javascript" src="/Scripts/CheckIn.js"></script>

<html lang="es">

    <head>
        <title>Reservar Habitacion</title>

        <style type="text/css">
        </style>

    </head>
    
    <body>

        <div class="widget">
			<div class="title">
				<h6>Buscar Habitaciones</h6>
			</div>

            <div class = "formRow"><span>Hotel</span>
                <div class = "formRight" > 
                    <select id = "ComboHoteles">
                        
                        
                    </select>
                 </div>            
            </div>

			<div class="formRow"><span>Fecha Inicio</span>                
				<div class = "formRight" >                                         
					<div class="demo">
						<input type="text" id="FechaLlegada"/>
					</div>
				</div>                
				<div class="clear"></div>
			</div>

			<div class="formRow"><span>Fecha Fin</span>                
				<div class = "formRight" > 
					<div class="demo">
						<input type="text" id="FechaSalida"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id = "buscame" type="submit" value="Buscar" class = "redB" />
					</div>
				</div>                
				<div class="clear"></div>
			</div>
        </div>

        <div id = "resultados">
        
        
        
        
        
        </div>

            <div id="dialog-modal" title="Datos incorrectos">
	<p>Por favor, ingrese datos correctos</p>
</div>
<div id="espera" title="Espere... ingresando datos">
	<p>...zzZZzz...</p>
</div>
<div id="error" title="">
	<p id = "msjError">...Ooops!</p>
</div>


    </body>
    
</html>