@{
    ViewBag.Title = "Ubicación de un cliente";
}

<h2>Ubicación de un cliente</h2>

<script type="text/javascript" src="/Scripts/ReporteCliente.js"></script>
<script type="text/javascript" src="/Scripts/Validaciones.js"></script>
<script type="text/javascript" src="/Scripts/CheckIn.js"></script>

<html lang="es">

    <head>
        <title>Ubicación de un cliente</title>

        <style type="text/css">
        </style>

    </head>
    
    <body>

    <div id = "busqueda">

        <div class="widget">
			<div class="title">
				<h6>Ubicar Cliente</h6>
			</div>
            <div class = "formRow"><span>Hotel</span>
                <div class = "formRight" > 
                    <select id = "ComboHoteles">
                        
                    </select>
                 </div>            
            </div>
            <div class="formRow"><span>Nombre del Cliente</span>                
				<div class = "formRight" > 
					<div class="demo">
						<input type="text" id="nombre"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input id = "buscame" type="submit" value="Buscar" class = "redB" />
					</div>
				</div>                
				<div class="clear"></div>
			</div>
        </div>

    </div>

    <div id = "resultado">
    
    
    </div>

    <div id="dialog-modal" title="Datos incorrectos">
	<p>Por favor, ingrese datos correctos</p>
</div>
<div id="espera" title="Espere... ingresando datos">
	<p>...zzZZzz...</p>
</div>


    </body>


</html>
