@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Esta es la página principal de la cadena.
</p>

<div class="formRow">
    <label>Integrantes:</label>
    <div class="formRight searchDrop">
        <select data-placeholder="Eligue solo uno..." class="chzn-select" style="width:350px;length:200px" tabindex="2">
            <option value = "" ></option>
            <option value = "Daiana" >      Daiana Castro       </option>
            <option value = "Francisco" >   Francisco Vilchez   </option>
            <option value = "Jose" >        José Astuvilca      </option>
            <option value = "Irvin" >       Irvin Vargas        </option>
            <option value = "Giancarlo" >   Giancarlo Rau       </option>
            <option value = "Jairo" >       Jairo Palomino      </option>
            <option value = "Gustavo" >     Gustavo Medina      </option>
            <option value = "Manuel" >      Manuel Solórzano    </option>
            <option value = "Walter" >      Walter Perez        </option>
            <option value = "Zenia" >       Zenia Morales       </option>
        </select>
    </div>
    <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
    <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
</div>