@model Stardust.Models.Proveed
@{
    ViewBag.Title = "Generar Reporte";
}

<h2>Generar Reporte de Órdenes de Compra</h2>

@using (Html.BeginForm("Proveedor", "Reporte", FormMethod.Post, new { @class = "form", id="validate"}))
{
  
    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Seleccionar Proveedor</h6>
            </div>
            <div class="formRow">
                <label>Proveedor</label>
                <div class = "formRight" >@Html.DropDownListFor(model => model.id,new SelectList(Model.list,"id","name"))</div>
                <div class = "clear" ></div>
            </div>                   
        </div>
    </fieldset>
    
    <p>
        <input type="submit" value="Buscar" class = "redB" />                
    </p>
}

@*@Html.ActionLink("Imprimir", "Nada", null, new { target = "_blank" })*@
