@model Stardust.Models.Usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar Usuario</h2>

<h3>¿Seguro que quieres eliminar este usuario?</h3>
<fieldset>
    <legend></legend>

    <div class = "widget" >
        <div class="title"><img src="../../Content/images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>Usuario a eliminar</h6></div>
        <table cellpadding = "0" cellspacing = "0" width = "100%" class = "sTable" >
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Tipo</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Nombre)</td>
                    <td>@Html.DisplayFor(model => model.Apellido)</td>
                    <td>@Html.DisplayFor(model => model.Tipo)</td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
