@model Stardust.Models.UsuarioBean

@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>

<p>
    Bienvenido a administrar usuarios
</p>

<p>
    @Html.ActionLink("Registrar usuario", "Create")
</p>

<p>
    @Html.ActionLink("Listar usuarios", "List")
</p>