@model Stardust.Models.ClienteBean

@{
    ViewBag.Title = "Modificar Cliente Juridico";
}

<h2>Modificar Cliente Juridico</h2>


@using (Html.BeginForm())
{
   
<form action = "" class = "form" >

   <fieldset>

        <legend>Cliente Juridico</legend>
        @Html.HiddenFor(model => model.ID)
    
        <div class="formRow">
            <label>Nombres</label>
            <div class="formRight">
                @Html.TextBoxFor(model => model.razonSocial)
            </div>
            <div class = "clear"></div>
        </div>
                
        <div class="formRow">
            <label>Apellido Paterno</label>
            <div class="formRight">
                @Html.TextBoxFor(model => model.nroDocumento)
            </div>
            <div class = "clear"></div>
        </div>
            
        <p>
            <input type="submit" value="Guardar" class = "redB" />
        </p>

    </fieldset>

</form>
}
