@model Stardust.Models.Proveedor

@{
    ViewBag.Title = "Buscar Proveedor";
}

<h2>Buscar</h2>

<div>
    <p>razon Social: @ViewData["razon"] </p>
    <p>contacto: @ViewData["contacto"]</p>  
</div>
