@model Stardust.Models.Proveedor

@{
    ViewBag.Title = "Buscar Proveedor";
}

<h2>Buscar Proveedor</h2>
<form id="validate" class="form" action="" method="post">
    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Buscar Proveedor</h6>
            </div>
			<div class="formRow">
                <label>  Razon Social:  </label>
                <div class="formRight">
                    <input id="razon social" class="validate[custom[onlyLetterSp]]" type="text" name="lettersValid" value="">
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>Categoria:</label>
                <div class="formRight searchDrop">
                    <select name="select2" class="chzn-select" style="width:350px;" tabindex="2" >
                        <option value="opt1">Categoria 1</option>
                        <option value="opt2">Categoria 2</option>
                        <option value="opt3">Categoria 3</option>
                        <option value="opt4">Categoria 4</option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>    Contacto:        </label>
                <div class="formRight">
                    <input id="Contacto" class="validate[custom[onlyLetterSp]]" type="text" name="lettersValid" value="">
                </div>
                <div class="clear"></div>
            </div>

            <div class="formSubmit">
                <input class="redB" type="submit" value="Busar">
            </div>
        </div>
    </fieldset>
</form>