@model IEnumerable<Stardust.Models.Proveedor>

@{
    ViewBag.Title = "Registrar Proveedor";
}

<form id="validate" class="form" action="" method="post">
    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Registrar Proveedor</h6>
            </div>
            <div class="formRow">
                <label>
                    Razon Social:
                    <span class="req">*</span>
                </label>
                <div class="formRight">
                    <input id="Razon_Social" class="validate[required,custom[onlyLetterSp]]" type="text" name="lettersValid" value="">
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>
                    RUC:
                    <span class="req">*</span>
                </label>
                <div class="formRight">
                    <input id="RUC" class="validate[required,custom[onlyNumberSp]]" type="text" name="numsValid" value="">
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>Categoria:</label>
                <div class="formRight searchDrop">
                    <select name="select2" class="chzn-select" style="width:350px;" tabindex="2" >
                        <option value="opt1">Categoria 1</option>
                        <option value="opt2">Categoria 2</option>
                        <option value="opt3">Categoria 3</option>
                        <option value="opt4">Categoria 4</option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>
                    Dirección:
                    <span class="req">*</span>
                </label>
                <div class="formRight">
                    <input id="Direccion" type="text" value="">
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>
                    Teléfono:
                    <span class="req">*</span>
                </label>
                <div class="formRight">
                    <input id="Telefono" class="validate[required,custom[onlyNumberSp]]" type="text" name="numsValid" value="">
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>
                    Página Web:
                    <span class="req">*</span>
                </label>
                <div class="formRight">
                    <input id="Pagina_Web" type="text" value="">
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>
                    Contacto:
                    <span class="req">*</span>
                </label>
                <div class="formRight">
                    <input id="Contacto" class="validate[required,custom[onlyLetterSp]]" type="text" name="lettersValid" value="">
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>
                    Cargo:
                    <span class="req">*</span>
                </label>
                <div class="formRight">
                    <input id="Cargo" class="validate[required,custom[onlyLetterSp]]" type="text" name="lettersValid" value="">
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>
                    Correo Electrónico:
                    <span class="req">*</span>
                </label>
                <div class="formRight">
                    <input id="lettersValid" class="validate[required,custom[email]]" type="text" name="emailValid" value="">
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>
                    Observaciones:
                    <span class="req" >*</span>
                </label>
                <div class="formRight" >
                    <textarea id="textareaValid" class="validate[required]" name="textarea" cols="" rows="8"></textarea>
                </div>
                <div class="clear"></div>
            </div>            
            <div class="formSubmit">
                <input class="redB" type="reset" value="Cancelar">
            </div>
            <div class="formSubmit">
                <input class="redB" type="submit" value="Registrar">
            </div>
        </div>
    </fieldset>
</form>