@model Stardust.Models.PagoProveedorBean

@{
    ViewBag.Title = "PagoProveedor";
}

<h2>Pago a Proveedor</h2>

@using (Html.BeginForm("PagoProveedor", "Proveedor", FormMethod.Post, new { @class = "form" }))
{
    @Html.ValidationSummary(false)
    <fieldset>
        <div class = "widget" >
            <div class = "title"><h6>Pago a Proveedor</h6></div>

            <div class="formRow">
                <label>Proveedor</label>
                <div class = "formRight" >@Html.DropDownListFor(model => model.ID,Model.proveedorList)</div>
                <div class = "clear" ></div>
            </div>
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Buscar" class = "redB" />
        @Html.ActionLink("Regresar", "RegistrarProveedor","Proveedor")
    </p>
}

