@{
    ViewBag.Title = "Reporte";
}

<h2>Reporte</h2>

@using (Html.BeginForm("Reporte", "Proveedor", FormMethod.Post, new { @class = "form", id="validate"}))
{
   @Html.ValidationSummary(false)
    

    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Registrar Proveedor</h6>
            </div>
            <div class="formRow"> Razon social<span class="req">*</span>
                <div class="formRight">
                    <input type="text" value="esto es una caracter invalido" class="validate[required, custom[onlyLetterSp]]" name="lettersValid" id="razonsocial"/>
                </div>
                <div class="clear"></div>
            </div>          
            
        </div>
    </fieldset>

        <p>
        <input type="submit" value="Crear" class = "redB" />        
        @Html.ActionLink("Regresar", "Index")
    </p>
}
