@model Prueba.Models.Usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Usuario</legend>

    <div class = "widget" >
        <div class="title"><img src="../../Content/images/icons/dark/frames.png" alt="" class="titleIcon" /><h6>Usuario a eliminar</h6></div>
        <table cellpadding = "0" cellspacing = "0" width = "100%" class = "sTable" >
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Nombre)</td>
                    <td>@Html.DisplayFor(model => model.Apellido)</td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


