@model IEnumerable< Prueba.Models.Producto>



<h2>Control2</h2>
<form id="validate" class="form" action="" method="post">
    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Buscar Producto</h6>
            </div>
            <div class="formRow">
                <label>Categoria:</label>
                <div class="formRight">
                    <select name="select2">
                        <option value="opt1">Nombre</option>
                        <option value="opt2">Categoria de Producto</option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="formSubmit">
                <input class="redB" type="submit" value="Buscar">
            </div>
    </fieldset>
</form>