@model IEnumerable< Prueba.Models.Categoria>

@{
    ViewBag.Title = "Control";
}

<h2>Control</h2>
<form id="validate" class="form" action="" method="post">
    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Buscar Productos</h6>
            </div>
            <div class="formRow">
                <label>Nombre:</label>
                <div class="formRight">
                    
                    <input id="nombreproducto" class="validate[required,custom[onlyLetterSp]]" type="text" name="lettersValid" value="">
                </div>
                <div class="clear"></div>
            </div>
            @*<div class="formRow">
                 <label>Categoria:</label>
                <div class="formRight searchDrop">
                    <select id="categoria" name="select2" class="chzn-select" style="width:350px;" tabindex="2" >
                   @foreach (var item2 in Model)
                    {
                        <option value="opt1">
                            @item2.nombre
                        </option>
                        
                    }
                    </select>
                </div>
                
            </div>*@
        </div>

        
    </fieldset>
    <div class="formSubmit">
                <input class="redB" type="submit" value="Buscar">
            </div>
</form>