@model IEnumerable<Prueba.Models.Categoria>

@{
    ViewBag.Title = "Producto";
}


<form id="validate" class="form" action="" method="post">
    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Registrar Producto</h6>
            </div>
            <div class="formRow">
                <label>Categoria:</label>
                <div class="formRight searchDrop">
                    <select id="categoria" name="select2" class="chzn-select" style="width:350px;" tabindex="2" >
                   @foreach (var item in Model)
                    {
                       
                        <option value="opt1" >
                            @item.nombre
                        </option>
                        
                    }
                    </select>
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>
                    Producto:
                    <span class="req">*</span>
                </label>
                <div class="formRight">
                    <input id="lettersValid" class="validate[required,custom[onlyLetterSp]]" type="text" name="lettersValid" value="this is an invalid char '.'">
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>
                    Descripción:
                    <span class="req" >*</span>
                </label>
                <div class="formRight" >
                    <textarea id="textareaValid" class="validate[required]" name="textarea" cols="" rows="8"></textarea>
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>
                    Stock Mínimo:
                    <span class="req">*</span>
                </label>
                <div class="formRight">
                    <input id="numsValid1" class="validate[required,custom[onlyNumberSp]]" type="text" name="numsValid" value="10">
                </div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <label>
                    Stock Máximo:
                    <span class="req">*</span>
                </label>
                <div class="formRight">
                    <input id="numsValid2" class="validate[required,custom[onlyNumberSp]]" type="text" name="numsValid2" value="10">
                </div>
                <div class="clear"></div>
            </div>
            <div class="formSubmit">
                <input class="redB" type="reset" value="Cancelar">
            </div>
            <div class="formSubmit">
                <input class="redB" type="submit" value="Registrar">
            </div>
        </div>
    </fieldset>
</form>