@{
    ViewBag.Title = "Control";
}


<form id="validate" class="form" action="" method="post">
    <fieldset>
        <div class="widget">
            <div class="title">
                <h6>Buscar Producto</h6>
            </div>
            <div class="formRow">
                <label> Nombre: </label>
                <div class="formRight">
                    <input id="nombre" class="" type="text" name="nombre" value="">
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="formSubmit">
                <input class="redB" type="submit" value="Buscar">
            </div>
    </fieldset>
</form>

