@{
    ViewBag.Title = "AddServicio";
}

<h2>AddServicio</h2>
<html>
<head>
    <title>Pago de Servicios</title>
</head>
<body>
    <div class="widget">
        <div class="title">
		   	<h6>Registrar reserva</h6>
		</div>

		<div class="formRow"><span>Nro de Reserva</span>                
			<div class = "formRight" >                                         
				<div class="demo">
					<input type="text" id="nroReserva"/>
			    </div>
            </div>                
		    <div class="clear"></div>
		</div>
        <div class="formRow"><span>DNI</span>                
			<div class = "formRight" >                                         
				<div class="demo">
					<input type="text" id="dni"/>
			    </div>
            </div>                
		    <div class="clear"></div>
		</div>
    </div>
</body>
</html>