@{
    ViewBag.Title = "Check In";
}

<h2>Check In</h2>

<script type="text/javascript" src="/Scripts/CheckIn.js"></script>

<html lang="es">

    <head>
        <title>Reservar Habitacion</title>

        <style>
        .campo { width: 30em; height: 1.5em; }       
        </style>

    </head>

    <body>

    <div id = "checkeo">
        <div class="widget">
			<div class="title">
				<h6>Buscar Reserva</h6>
			</div>

			<div class="formRow"><span>Nro. de reserva</span>                
				<div class = "formRight" > 
					<input type="text" id="nroReserva"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id = "buscarReserva" type="submit" value="Buscar" class = "redB" />
				</div>                
				<div class="clear"></div>
			</div>
    </div>

<br />       
<br />
<br />

<div id = "datos" class = "widget">
    <div class="title">
	    <h6>Datos de la reserva</h6>
    </div>    
    
</div>


<div class = "widget">       

    <div class="title">
	    <h6>Resgistrar clienes por tipos de habitaciones</h6>
	</div>

    
 
    <div id="accordion">   

        

    </div>

</div>

<br />
<br />
<br />

</body>






</html>