@{
    ViewBag.Title = "Check In";
}

<h2>Check In</h2>

<script type="text/javascript" src="/Scripts/CheckIn.js"></script>

<html lang="es">

    <head>
        <title>Reservar Habitacion</title>
    </head>

    <body>



        <div class="widget">
			<div class="title">
				<h6>Buscar Reserva</h6>
			</div>

			<div class="formRow"><span>Nro. de reserva</span>                
				<div class = "formRight" > 
					<input type="text" id="nroReserva"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input id = "buscarReserva" type="submit" value="Buscar" class = "redB" />
				</div>                
				<div class="clear"></div>
			</div>
            

        </div>

       
        <div class="widget" id = "habitaciones">
			<div class="title">
				<h6>Habitaciones</h6>
			</div>
        </div>
      

    </body>






</html>