@{
    ViewBag.Title = "Check In";
}

<h2>Check In</h2>

<script type="text/javascript" src="/Scripts/CheckIn.js"></script>
<script type="text/javascript" src="/Scripts/Validaciones.js"></script>


<html lang="es">

    <head>
        <title>Reservar Habitacion</title>

        <style type="text/css">
        .campo { width: 50em; height: 1.5em; }      
        
        .dnicampo {width: 30em; height: 1.5em;}
        
         
        </style>

    </head>

    <body>

    <div id = "checkeo">
        <div class="widget">
			<div class="title">
				<h6>Buscar Reserva</h6>
			</div>

			<div class="formRow"><span>Nro. de reserva</span>                
				<div class = "formRight" > 
					<input type="text" id="nroReserva"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input id = "buscarReserva" type="submit" value="Buscar" class = "redB" />
				</div>                
				<div class="clear"></div>
			</div>
    </div>
    </div>
<br />       
<br />
<br />

<div id = "datos">

      
    
    <div id ="imprimeDatos">
    
    </div>  
    

</div>
   
 
    <div id="accordion">   
        
   
    </div>


<br />
<br />
<br />

<div id="dialog-modal" title="Datos incorrectos">
	<p>Por favor, ingrese datos correctos</p>
</div>
<div id="espera" title="...zzZZzz...">
	<p>...wait pls...</p>
</div>
<div id="faltanDatos" title="Faltan Datos">
	<p>Verifique que estén llenos todos los campos solicitados</p>
</div>
<div id="error" title="">
	<p id = "msjError">...Ooops!</p>
</div>



</body>






</html>