@model IEnumerable<Stardust.Models.ClienteBean>

@{
    ViewBag.Title = "datosReserva";
}

<h2>Datos de la reserva</h2>

<script type="text/javascript" src="/Scripts/jquery-1.5.1.js"></script>
	<script type="text/javascript" src="/Scripts/ReservarHabitacion.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

<html lang="es">

<head>
<title>Reservar Habitacion</title>
</head>

<body>

<fieldset>
        <div class="widget">

            <div class="title">
                <h6>Registrar Datos de la reserva</h6>
            </div>

            <div class="formRow"><span>Tipo de Documento</span>
                
               <div class = "formRight" > 
                    <select>
                        <option value = "DNI">DNI</option>
                        <option value = "RUC">RUC</option>
                    </select>
               </div>
                
               <div class="clear"></div>
            </div>

            <div class="formRow"><span>Nro. de Documento</span>
                
               <div class = "formRight" > 
                    <input type="text" value="" id="nDoc" />
               </div>
                
               <div class="clear"></div>
            </div>
            
            <div class="formRow"><span>Nombre</span>
                
               <div class = "formRight" > 
                    <input type="text" value="" id="nombreDReserva" />
               </div>
                
               <div class="clear"></div>
            </div>

            <div class="formRow"><span>Apellidos</span>
                
               <div class = "formRight" > 
                    <input type="text" value="" id="ApellidoDReserva" />
               </div>
                
               <div class="clear"></div>
            </div>

            <div class="formRow"><span>Email</span>
                
               <div class = "formRight" > 
                    <input type="text" value="" id="mail" />
               </div>
                
               <div class="clear"></div>
            </div>

            <div class="formRow"><span>Teléfono</span>
                
               <div class = "formRight" > 
                    <input type="text" value="" id="telef" />
               </div>
                
               <div class="clear"></div>
            </div>

            <div class="formRow"><span>Tarjeta de credito</span>
                
               <div class = "formRight" > 
                    <select>
                        <option value = "Visa">Visa</option>
                        <option value = "Mastercard">Mastercard</option>
                    </select>
               </div>
                
               <div class="clear"></div>
            </div>

            <div class="formRow"><span>Nro. de tarjeta</span>
                
               <div class = "formRight" > 
                    <input type="text" value="" id="nTarjeta" />
               </div>
                
               <div class="clear"></div>
            </div>

            <div class="formRow"><span>Fecha de caducidad</span>                
				<div class = "formRight" > 
					<div class="demo">
						<input type="text" id="FechaCaduca">
					</div>
				</div>                
				<div class="clear"></div>
			</div>

            <div class="formRow"><span>Comentarios¿</span>                
				<div class = "formRight" > 
					<div class="demo">
						<textarea></textarea>
					</div>
				</div>                
				<div class="clear"></div>
			</div>

        </div>
    </fieldset>



<!--div class="wrapper">
    <div class="widget">
      <div class="title">
      <h6>Lista de Clientes</h6>
      </div>
      <div class="dataTables_wrapper">            
            <table cellpadding = "0" cellspacing = "0" width = "100%" class = "display dTable">

    <thead>
        <tr>
            
             <th class="ui-state-default" rowspan="1" colspan="1" style="width:150px;" >
                <div class="DataTables_sort_wrapper">
                Nombre
                <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-s"></span>
                </div>
             </th>

             <th class="ui-state-default" rowspan="1" colspan="1" style="width:150px;" >
                <div class="DataTables_sort_wrapper">
                Apellido Paterno
                <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-s"></span>
                </div>
             </th>

             <th class="ui-state-default" rowspan="1" colspan="1" style="width:150px;" >
                <div class="DataTables_sort_wrapper">
                Apellido Materno
                <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-s"></span>
                </div>
             </th>

             <th class="ui-state-default" rowspan="1" colspan="1" style="width:130px;" >
                <div class="DataTables_sort_wrapper">
                Nro. de Documento
                <span class="DataTables_sort_icon css_right ui-icon ui-icon-triangle-1-s"></span>
                </div>
             </th>
            
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apPat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apMat)
                </td>         
                <td>
                    @Html.DisplayFor(modelItem => item.nroDocumento)
                </td>
                </tr>
    }
    
    </tbody>

        </table>
      </div>
        
    </div>
</div-->

</body>
</html>
