@model Stardust.Models.HabitacionBean

@{
    ViewBag.Title = "Habitaciones";
}

<h2>Habitaciones</h2>

<p>
    Bienvenido a administrar habitaciones.
</p>

<p>
    @Html.ActionLink("Registrar Habitación", "Create")
</p>

<p>
    @Html.ActionLink("Listar habitaciones", "List")
</p>