@{
    ViewBag.Title = "Hotel";
}

<h2>Hoteles</h2>

<p>
    Bienvenido a administrar hoteles.
</p>

<p>
    @Html.ActionLink("Registrar Hotel", "Create")
</p>

<p>
    @Html.ActionLink("Asignar tipos de habitación", "AsignarTipoHabitacion")
</p>

<p>
    @Html.ActionLink("Listar hoteles", "List")
</p>